:root{
  --main-color-gradient:linear-gradient(135deg, #0c090a, #201a22);
  --main-color:#dd1173;
  --white-color:#fff;
  --black-color:#000;
}
.text-main{
  color: var(--main-color);
}
.bg-gradient{
  background: var(--main-color-gradient) !important;
}
.hero-icon{
  font-size: 2.4rem;
}
.hero-heading{
  font-size: 3.5rem;
  font-weight: 900;
}
.hero-subtitle{
  font-size: 2.5rem;
  font-weight: 700;
}
.heading-section{
  font-size: 2rem;
}
.card-heading{
  font-size: 1.5rem;
  font-weight: bold;
}
.section-subtitle{
  font-size: 1.3rem;
  color: #555454;
}
.p-small-light{
  font-size: 1.1rem;
  color: #555454;
}
.p-small-light{
  font-size: 1.1rem;
  color: #333232;
}
.card-number{
  font-size: 2.8rem;
  color: #131313;
}
.p-large{
  font-size: 1.5rem;
  color: #4c4b4b;
}
.main-btn{
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  background: var(--main-color);
  color: var(--white-color);
  border-radius: 5px;
  width: fit-content;
}
.main-btn-outline{
  border: none;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 1.2rem;
  background: transparent;
  color: var(--white-color);
  border-radius: 5px;
}
.devider{
  height: 3px;
  width: 200px;
  background-color: var(--main-color);
}